# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Debug files
*.pdb

# NuGet
packages/

# Uploads (IMPORTANT)
Uploads/

# Large files
*.mp4
*.avi
*.mov
*.zip
*.pdf
*.docx
*.pptx
*.xlsx

# Python virtual env
venv/
AIService/venv/

# Python cache
__pycache__/
*.pyc